body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #020617;
  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #020617;
  position: sticky;
  top: 0;
}

.navbar ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.navbar a {
  color: white;
  text-decoration: none;
}

/* HERO */
.hero {
  height: 90vh;
  background: url("https://images.unsplash.com/photo-1503376780353-7e6692767b70") no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  text-align: center;
  background: rgba(0,0,0,0.6);
  padding: 30px;
  border-radius: 15px;
}

button {
  padding: 10px 20px;
  background: #22c55e;
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #16a34a;
  transform: scale(1.05);
}

/* SERVICES */
.services {
  padding: 50px;
  text-align: center;
}

.service-box {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* PRODUCTS */
.products {
  padding: 50px;
  text-align: center;
}

.product-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
  transition: 0.3s;
}

.card img {
  width: 200px;
  border-radius: 10px;
}

.card:hover {
  transform: translateY(-10px);
}

/* TESTIMONIALS */
.testimonials {
  padding: 50px;
  text-align: center;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}